.search-filters-list {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-gap: 10px 10px;
    margin: 0px auto 20px;
}

@media only screen and (max-width: 992px) {
    .search-filters-list {
        grid-template-columns: repeat(2, auto);
    }
}