.restaurant-list {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-gap: 10px 10px;
    padding-bottom: 10px;
}

.restaurant-list-action-btn-wrapper{
    width: 100%;
    padding: 20px 0px;
    text-align: center;
}

.restaurant-list-show-more-btn{
    padding: 5px 10px;
    margin: 0px auto;
}

@media only screen and (max-width: 992px) {
    .restaurant-list {
        grid-template-columns: repeat(2, 50%);
    }
}

@media only screen and (max-width: 768px) {
    .restaurant-list {
        grid-template-columns: 100%;
    }
}